<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">



<head>
<style>
table, th, td {
	border: 3px solid black;
	border-collapse: collapse;
	text-align: center;
	font-weight: bold;
}

th, td {
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 40px;
	background-color: #fada5e;
}

nav {
	background-color: #fff44f;
	padding: 21px;
	width: 49%;
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	color: black;
}
</style>

<meta charset="utf-8" />
<title>Pizzeria</title>
</head>
<body>
	<div align="center">

		<h1></h1>
		<nav>
			<span th:text="'Benvenuto-a  ' + ${username} +'!'"> </span> <br />

		</nav>
		<nav>
			<a href="new">
				<button>Clicca qui per creare una nuova pizza!</button>
			</a>
		</nav>

		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>Name</th>
					<th>Impasto</th>
					<th>Ingredienti</th>
					<th>Azioni:</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pizza : ${listaPizzeUtente}">
					<td th:text="${pizza.nome}"></td>
					<td th:text="${pizza.impasto.nome}"></td>
					<td>
						<div th:each="ingrediente : ${pizza.ingredienti}"
							th:text="${ingrediente.nome}"></div>
					</td>
					<td><a th:href="@{'/edit/' + ${pizza.id}}">
							<button>Modifica Pizza</button>
					</a> &nbsp;&nbsp;&nbsp; <a th:href="@{'/delete/' + ${pizza.id}}">
							<button>Cancella Pizza</button>
					</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>